dist: trusty
matrix:
  include:
    - language: java
      jdk: oraclejdk8
      before_install: 
        - cd Android 
      script:
        - ./gradlew androidTest
    - language: node_js
      node_js:
        - '11'
      cache: 
        directories:
          - node_modules
      before_install:
        - cd API
        - npm update
      install: 
        - npm install
      script:
        - npm run test:unit 